.body-login {
    background: #0747a6;
    width:100%; 
    height: 100%; 
    position: absolute;
}

.information {
    max-width: 400px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    margin-top: 200px;
}

.box-access {    
    max-width: 400px;
    margin: 0 auto;    
    background: whitesmoke;
    text-align: center;
}

.input-login {
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    border-width: 2px;
    padding: 10px !important;
}

.input-login:focus {
    box-shadow: none;
    border: 2px solid #2772e2;
}